.friend-list {
    padding: 0;
    padding-top: 20px;
    
}

.item {
    background-color:  rgb(179, 235, 216);
    margin: auto;
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 200px;
    width: 700px;
    height: auto;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.status {
    display: block;
    text-align: center;
    justify-content: center;
    text-align: center;

    margin-top: auto;
    margin-bottom: auto;

    width: 20px;
    height: 20px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
    border-radius: 50%;
}

.avatars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 80px;
    height: 80px;
    
}

.names {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}