.transaction-history {

width: 700px;
margin: auto;
padding-top: 30px;
}
tr { 
   
    
    background-color: rgb(168, 188, 181);
    box-shadow: 0px 1px 6px rgba(6, 6, 6, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
background-color: rgb(200, 220, 213);

}

th {
    background-color: rgb(161, 240, 214);
} 

td {
text-align: center;
}